/* general */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    font-family: 'Roboto', sans-serif;
}
/* utility */
.flex{
    display: flex;
}
.hidden {
    visibility: hidden;
}





/* header */






.site_header{
    background-color: #dddddd;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    color: black;
}
.logo img{
    width: 12px;
}
.logo,.menu{
    flex-grow: 2;
}
.search{
    align-items: center;
    flex-grow: 2;
    padding: .3rem;
}

.pulsanti-header{
    margin-bottom: -80px;
    margin-right: 10px;
    margin-left: -100px;
}

.pulsanti-header button{
    background-color: #212324;
    color: white;
}



/* main */






.site_main {
    flex-direction: row;
    color: white;
    align-items: center;
}

.freccia2 , .freccia{
    font-size: small;
}

.freccia1 img , .freccia2 img{
    height: 40px;
}

.freccia1{
    margin-left: 2rem;
}

.freccia2{
    margin-right: 2rem;
}

.container {
   justify-content: space-around;
   margin-top: 1.5rem;
   flex-wrap: wrap;
   padding: 50px;
}
.image_wrapper {
    position: relative;
}

.image_wrapper img , .video{
    width: 240px;
    
}

.play img {
    width: 15px;
}

.play {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    display: block;
    padding: 0.2rem;
    background-color: #1818188a;
    display: flex;
    padding-top: 0.2rem;
    padding-bottom: 0.4rem;
}

.play span{
    padding-left: 0.4rem;
    padding-right: 0.2rem;
}








/* footer */



.site_footer{
    background-color: #212324;
    color: white;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.p2{
    text-align: center;
    padding-left: 35px;
    font-size: smaller;
}

.p2 a{
    text-decoration: none;
    color: white;
}

.p2 img{
    max-width: 17px;
}

.boxf3 #end{
    color: red;
    background-color: #4a4b4d;
    padding: 25px;
}