/* general */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #181818;
    font-family: 'Roboto', sans-serif;
}
/* utility */
.flex{
    display: flex;
}
.hidden {
    visibility: hidden;
}







/* header */








.site_header{
    background-color: #dddddd;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem;
    flex-wrap: wrap;
    color: black;
}
.logo img{
    width: 12px;
}
.logo,.menu{
    flex-grow: 2;
}
.search{
    align-items: center;
    flex-grow: 2;
    padding: .3rem;
}










/* main */






.site_main {
    flex-direction: row;
    color: white;
    align-items: center;
}

.freccia1{
    align-items: center;
}

.container {
   justify-content: space-around;
   margin-top: -3.5rem;
   flex-wrap: wrap;
   padding: 110px;
}
.image_wrapper {
    position: relative;
}

.image_wrapper img , .video{
    width: 215px;
    
}

.play img {
    width: 15px;
}

.play {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    display: block;
    padding: 0.2rem;
    background-color: #1818188a;
    display: flex;
    padding-top: 0.2rem;
    padding-bottom: 0.4rem;
}

.play span{
    padding-left: 0.4rem;
}
