/* general */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #181818;
    font-family: 'Roboto', sans-serif;
}
/* utility */
.flex{
    display: flex;
}
.hidden {
    visibility: hidden;
}







/* header */








.site_header{
    background-color: #dddddd;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem;
    flex-wrap: wrap;
    color: black;
}
.logo img{
    width: 12px;
}
.logo,.menu{
    flex-grow: 2;
}
.search{
    align-items: center;
    flex-grow: 2;
    padding: .3rem;
}










/* main */









.container {
   justify-content: space-around;
   margin-top: 1rem;
   flex-wrap: wrap;
   padding: 70px;
}
.image_wrapper {
    position: relative;
}

.image_wrapper img , .video{
    width: 220px;
}

.play_grande {
        position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    background: rgba(0, 0, 0, 0.616);
    text-align: center;
    height: 100%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}
.play img {
    width: 15px;
}

.play {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    display: block;
    text-align: center;
    padding: 1rem;
    background-color: #1818188a;
}
.testo p {
    color: gray;
}
.testo h3 {
    display: flex;
    justify-content: space-between;
}
